@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 0px;
    background-color: rgb(181, 176, 176);
}
.tabuleiro
{
    width: 600px;
    height: 600px;
    background-image: radial-gradient(lightskyblue,blue);
    border-color: black;
    border-style:solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
.linha
{
   width: 100%; 
   height: 150px;
   display: flex;
   flex-direction: row;           /* em linha  */
   justify-content: space-around; /* Mesma dist */
}
.celula
{
    cursor: pointer;
    font-family: 'Delicious Handrawn', cursive;
    width: 150px;
    height: 150px;
    background-color: azure;
    box-shadow: 1px 1px black;
    font-size: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}